.array-container{
    background-color: #053742;
    background-size: cover;
    justify-content: center;
    width: 100vw;
    min-height: 85%;
    height: 85vh;
}

.array-nums{
    vertical-align: top;
    display: inline-block;
    margin: 0 1px;
    box-sizing: border-box;
}

.array-nums:hover{
    border: solid 1px #FFFFFF;
}

.header{
    justify-content: center;
    background-color: #1A1A2E;
    min-height: 15%;
    height: 15vh;
    width: 100vw;
}

.header-button{
    color: #E94560;
    font-family: 'Dela Gothic One', cursive;
    font-size: 20px;
    background-color: #1A1A2E;
    border: none;
    background: none;
}

.header-button:hover{
    color: #A2DBFA;
}

.header-choice{
    margin: 10px;
}

.header-container{
    justify-content: center;
    display: inline-block;
    width: 25%;
    margin-bottom: 35px;
    vertical-align: middle;
    border-top-style: solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: #E94560;
}

.header-main{
    font-size: 290%;
    justify-content: center;
    color: #E94560;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header-main:hover{
    color: #A2DBFA;
}

.header-text{
    color: #E94560;
    vertical-align: middle;
    font-size: 25px;
    margin-top: 30px;
}

.header-text:hover{
    color: #A2DBFA;
}

.header-sort{
    border-top: none;
}

@media screen and (max-width: 768px){
    .header-invis{
        display:none;
    }

    .header-container{
        width: 48%;
        margin-top: 15px;
        margin-right: 2px;
        vertical-align: middle;
    }

    .header-main{
        font-size: 30px;
        margin-bottom: 35px;
    }
}

